@model Subject
@using Students.Interfaces
@using System.Globalization

@{
    ViewData["Title"] = "Details";
}
@inject ISharedResourcesService sharedResourcesService
@{
    string? culture = Context.Session.GetString("Culture");
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo("en-US");
    if (culture != null)
    {
        cultureInfo = CultureInfo.GetCultureInfo(culture);
    }
}

<h1>@sharedResourcesService.GetString("Details", cultureInfo)</h1>

<div>
    <h4>@sharedResourcesService.GetString("Subject", cultureInfo)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@sharedResourcesService.GetString("NameOfSubject", cultureInfo)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">@sharedResourcesService.GetString("Credits", cultureInfo)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Credits)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@sharedResourcesService.GetString("Edit", cultureInfo)</a> |
    <a asp-action="Index">@sharedResourcesService.GetString("Index", cultureInfo)</a>
</div>
